name: Add to Project

on:
  issues:
    types: [opened]
  pull_request:
    types: [opened]

env:
  PROJECT_URL: https://github.com/orgs/MapSee-Lab/projects/1
  
jobs:
  add-to-project:
    runs-on: ubuntu-latest
    steps:
      - name: Add issue/PR to project
        uses: actions/add-to-project@v0.5.0
        with:
          project-url: ${{ env.PROJECT_URL }}
          github-token: ${{ secrets._GITHUB_PAT_TOKEN }}